absl-py==0.2.2
abstract-rendering==0.5.1
alabaster==0.7.10
anaconda-client==1.6.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
asn1crypto==0.22.0
astor==0.6.2
astroid==1.6.5
astropy==2.0.2
Babel==2.5.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.9.0
bleach==1.5.0
bokeh==0.12.7
boto==2.48.0
Bottleneck==1.0.0
cachetools==2.1.0
certifi==2018.8.24
cffi==1.10.0
chardet==3.0.4
chest==0.2.3
cli-helpers==1.0.2
click==6.7
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.3.9
conda==4.5.11
conda-build==3.0.19
conda-verify==2.0.0
configobj==5.0.6
cryptography==1.8.1
cycler==0.10.0
Cython==0.26
cytoolz==0.8.2
dask==0.13.0
datashape==0.5.4
decorator==4.1.2
dj-database-url==0.5.0
Django==2.1
docutils==0.14
dynd==0.7.3.dev1
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==2.0.7
Flask==0.12.2
Flask-MySQLdb==0.2.0
gast==0.2.0
glob2==0.5
google-api-core==1.4.0
google-auth==1.5.1
google-cloud-core==0.28.1
google-cloud-storage==1.12.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
greenlet==0.4.12
grpcio==1.12.1
gunicorn==19.9.0
h5py==2.6.0
HeapDict==1.0.0
html5lib==0.9999999
humanize==0.5.1
idna==2.6
imagesize==0.7.1
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.20.0
locket==0.2.0
lxml==3.8.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.7.4
mpmath==0.19
multipledispatch==0.4.9
mysql-connector-python==1.1.6
mysqlclient==1.3.13
nbconvert==5.2.1
nbformat==4.4.0
networkx==1.11
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
numba==0.35.0
numexpr==2.4.6
numpy==1.14.5
odo==0.5.1
olefile==0.44
openpyxl==2.4.8
packaging==16.8
pandas==0.18.1
pandocfilters==1.4.2
partd==0.3.8
patsy==0.4.1
pbr==4.2.0
pep8==1.7.0
pexpect==4.2.1
pgcli==1.10.3
pgspecial==1.11.2
pickleshare==0.7.4
Pillow==5.2.0
pkginfo==1.4.1
ply==3.10
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==5.2.2
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.9.2
PyMySQL==0.6.7
pyOpenSSL==17.0.0
pyparsing==2.2.0
pystan==2.18.0.0
pytest==3.2.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
redis==2.10.5
requests==2.19.1
rope-py3k==0.9.4.post1
rsa==4.0
scikit-image==0.12.3
scikit-learn==0.17
scipy==0.16.0
seaborn==0.8.1
selenium==2.53.1
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
spicy==0.16.0
spyder==2.3.8
SQLAlchemy==1.1.13
sqlparse==0.2.4
statsmodels==0.6.1
stevedore==1.29.0
sympy==1.1.1
tables==3.2.2
tabulate==0.8.2
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-hub==0.1.0
termcolor==1.1.0
terminado==0.6
terminaltables==3.1.0
testpath==0.3
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
ujson==1.35
unicodecsv==0.14.1
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
Werkzeug==0.14.1
whitenoise==4.1
widgetsnbextension==3.0.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==0.9.8
xlwings==0.11.4
xlwt==1.3.0
