{% extends "./base.html" %}
{% block title %}sop pennstate{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the department of Electrical Engineering and Computer Science at Pennsylvania State University so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
Penn State University offers CMPSC 457, CMPSC 458 and CSE 583. Moreover CS and Math classes are holistically covered. I also hope to choose the thesis option under the guidance of professor Robert T. Collins in LPAC, and engage in improving existing algorithms for better image detection, such as 'Entrance Detection from Street-View Images’, which was published in 2014 in the lab.
{% endblock %}