{% extends "./base.html" %}
{% block title %}sop ucd{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in Computer Science at University of California, Davis so that I could obtain the skills and knowledge in Computer Vision fields. 
{% endblock %}
{% block content_end %}
UCD offers ECS 289G, ECS 275A/275B and ECS 273. Moreover algorithms and data visualization classes are holistically covered. I hope to choose ECS 293A under the guidance of the professor Yong Jae Lee, and engage in improving existing algorithms for better object detection, such as 'Track and Transfer: Watching Videos to Simulate Strong Human Supervision for Weakly-Supervised Object Detection’, which was published by his team.
{% endblock %}