{% extends "./base.html" %}
{% block title %}sop uci{% endblock %}
{% block content_intro %}
I’m hoping to gain MCS in the department of Computer Science at University of California, Irvine so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
UCI offers CS 266, CS 274C and CS 217. Moreover data science classes are holistically covered as well. Also I hope to conduct my research under the guidance of professor charless c. fowlkes at Computational Vision lab, and engage in improving existing algorithms for better image detection, such as  'Lifting {GIS} Maps into Strong Geometric Context for Scene Understanding’, which was recently published by the lab.
{% endblock %}