{% extends "./base.html" %}
{% block title %}sop ucolorado{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in Computer Science at University of Colorado Boulder so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
University of Colorado offers Intelligent Systems Courses where I can holistically acquire the knowledge of AI. Moreover as I recognize that CSCI 5229 and CSCI 5239 in NCC, and ample of algorithm classes in ANO, this department is the ideal place to belong to. Also I hope to choose thesis option under the guidance of professor Michael C. Mozer, and engage in improving existing algorithms for better image recognition/detection, such as 'Image quality evaluation’, which has been conducted by his team.
{% endblock %}