{% extends "./base.html" %}
{% block title %}sop ucr{% endblock %}
 <!--p>test</p>
 <p>{{self}}</p>
 <p>{{request}}</p>
 <p>{{args}}</p>
 <p>{{kwargs}}</p-->
<!--p>https://css-tricks.com/snippets/html/glyphs/<p-->
{% block content_intro %}
I’m hoping to gain MS in the department of Computer Science and Engineering at University of California, Riverside so that I could obtain the skills and knowledge in Computer Vision fields. 
{% endblock %}
{% block content_end %}
UCR offers CS 205, CS 229 and CS 230. Moreover the theory of computation and data mining classes are covered as well. Also I hope to choose thesis option under the guidance of the professor Amit Roy-Chowdhury, and engage in improving existing algorithms for better object detection, such as ‘Unsupervised Adaptive Re-identification in Open World Dynamic Camera Network‘, which was published by his team.
{% endblock %}
