{% extends "./base.html" %}
{% block title %}sop ucsc{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the School of Engineering at University of California, Santa Cruz so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
UCSC offers CMPS280J and CMPS290B and CMPS290C. Moreover AI and statistics classes are holistically covered. Also I hope to choose thesis track under the guidance of professor Roberto Manduchi, and engage in improving existing algorithms for better image recognition, such as 'Indoor Manhattan Spatial Layout Recovery From Monocular Videos Via Line Matching’, which was published by his team.
{% endblock %}