{% extends "./base.html" %}
{% block title %}sop ucsd{% endblock %}
{% block depname %}The department of Computer Science and Engineering{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the department of Computer Science and Engineering at University of California, San Diego so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
UCSD offers CSE 252A, CSE 252B and CSE 252C. Moreover AI classes are holistically covered. Also I hope to choose MS Plan under the guidance of professor Nuno Vasconcelos at SVCL lab, and engage in improving existing algorithms for better image detection, such as 'Cascade R-CNN: Delving into High Quality Object Detection’, which was recently published by his team.
{% endblock %}