{% extends "./base.html" %}
{% block title %}sop umass{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the college of Information and Computer Sciences at University of Massachusetts, Amherst so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
UMass Amherst offers COMPSCI 590IV, COMPSCI 690IV and COMPSCI 670. Moreover Data Science classes are holistically covered as well as AI and machine learning. Also I hope to choose Research MS Track under the guidance of Erik G. Learned-Miller at Computer Vision, and engage in improving existing algorithms for better image detection, such as 'Causal Motion Segmentation in Moving Camera Videos’, which was published by his team.
{% endblock %}