{% extends "./base.html" %}
{% block title %}sop usc_ds{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the department of Computer Science at University of Southern California so that I could obtain the skills and knowledge in Computer Vision fields. 
{% endblock %}
{% block content_end %}
USC offers the whole spectrum of statistic methods classes in the Data Science track, which is a huge advantage for a CV student. Moreover vision classes such as CSCI 420, CSCI 580 and CSCI 621 are covered as well. I hope to choose thesis option under the guidance of professor Ram Nevatia at Computer Vision lab, and engage in improving existing algorithms for better image detection such as, 'Video Analysis and Content Extraction’, which is carried by him.
{% endblock %}