{% extends "./base.html" %}
{% block title %}sop usc_se{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the department of Computer Science at University of Southern California so that I could obtain the skills and knowledge in Computer Vision fields.
{% endblock %}
{% block content_end %}
USC offers CSCI 420, CSCI 567 and CSCI 621. Moreover I believe that Data Mining and Database skills are crucial for CV, which holistically covered as well. Also I hope to choose thesis option under the guidance of professor Ram Nevatia at Computer Vision lab, and engage in improving existing algorithms for better image detection such as, 'Video Analysis and Content Extraction’, which is carried by him.
{% endblock %}