{% extends "./base.html" %}
{% block title %}sop uu{% endblock %}
{% block content_intro %}
I’m hoping to gain MS in the School of Computing at the University of Utah so that I could obtain the skills and knowledge in Computer Vision fields. 
{% endblock %}
{% block content_end %}
I have a particular interest in the Image Analysis track that allows me to immerse in the whole spectrum of CV courseworks. Also graphics and visualization classes holistically covered as well. I also hope to choose thesis under the guidance of  professor Srikumar Ramalingam, and engage in improving existing algorithms for better object detection, such as 'Holistic Scene Understanding for Autonomous Driving’, which was explained in his video.
{% endblock %}