$font-stack:Helvetica, sans-serif;
$primary-color:#333;
$dark-red:#7E1B08;
$complementary-clr: #086b7e;
$support-red:#c46755;
$shadow-red:#d7998e;
$dartext-red:#dcb1a5;
$text-red:#efd8d1;
$cw: #fff;
$lgray: #aaa;