{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'meryota/css/style.css' %}">
<div id="grit-container">
    <div class="content-header">
        <div></div>
        <div>
            <p>{{ myinfo.Name }}</p>
            <p>{{ myinfo.Chatchphraes }}</p>
        </div>
    </div>
    <div class="content-bio">
        <div>
            <p>PERSONAL DETIALS</p>
            <p>Email</p> 
            <p>{{myinfo.Email}}</p>
            <p>Phone</p>
            <p>{{myinfo.Phone}}</p>
            <p>GPA(Undergraduate)</p>
            <p>{{myinfo.GPA}}</p>
        </div>
        <div>
            <p>EXTERNAL LINKS</p>
            <p>Website</p>
            <p><a href='{{myinfo.Website}}'>{{myinfo.Website}}</a></p>
            <p>Advertizement page at an intern</p>
            <p><a href='{{myinfo.Links.cwc}}'>{{myinfo.Links.cwc}}</a></p>
            <p>My latent Git</p>
            <p><a href='{{myinfo.Links.git}}'>{{myinfo.Links.git}}</a></p>
            <p>Thesis PDF</p>
            <p><a href="{% static 'meryota/pdf/thesis2016.pdf' %}">Summary of senior thesis in 2016</a><p>
        </div>
    </div>
    <div class="content-maininfo">
        <div>
            <p class="title-content">Objective</p>
            <div>
                {% if objective %}
                    <span>{{ objective }}</span>
                {% else %}
                    <p>No objective is right now.</p>
                {% endif %}
            </div>
        </div>
        <div>
            <p class="title-content">Skills</p>
            <div>
                {% if skills.skills_cplanguage %}
                <p class='skill_category'>Languages</p>
                    {% for skill in skills.skills_cplanguage %}
                    <span>{{ skill }}, </span>
                    {% endfor %}
                {% else %}
                    <p>No skills are available.</p>
                {% endif %}
            </div>
            <div>
                {% if skills.skills_research %}
                <p class='skill_category'>Research</p>
                    {% for skill in skills.skills_research %}
                    <span>{{ skill }}, </span>
                    {% endfor %}
                {% else %}
                    <p>No skills are available.</p>
                {% endif %}
            </div> 
            <div>
                {% if skills.skills_other %}
                <p class='skill_category'>Others</p>
                    {% for skill in skills.skills_other %}
                    <span>{{ skill }}, </span>
                    {% endfor %}
                {% else %}
                    <p>No skills are available.</p>
                    {% endif %}
            </div> 
        </div> 
        <div>
            <p class="title-content">Research</p>
            <div>
                    {% if research %}
                        {% for info in research %}
                        <div>
                            <div>{{ info.date }}</div>
                            <div>
                                <p>{{ info.name }}</p>
                                <p>{{ info.subtitle }}</p>
                                <div>
                                {% for detail in info.details %}
                                <div><span class="list-dot"></span><span>{{ detail }}</span></div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No skills are available.</p>
                        {% endif %}
            </div>
        </div>
        <div>
            <p class="title-content">Work History</p>
            <div>
                    {% if work %}
                        {% for info in work %}
                        <div>
                            <div><p>{{ info.date_from }}</p><p>{{ info.date_to }}</p></div>
                            <div>
                                <p>{{ info.position }}</p>
                                <p>{{ info.corp }}</p>
                                <div>
                                {% for detail in info.details %}
                                <div><span class="list-dot"></span><span>{{ detail }}</span></div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No skills are available.</p>
                        {% endif %}
            </div>
        </div>
        <div>
            <p class="title-content">Intern History</p>
            <div>
                    {% if intern %}
                        {% for info in intern %}
                        <div>
                            <div><p>{{ info.date_from }}</p><p>{{ info.date_to }}</p></div>
                            <div>
                                <p>{{ info.position }}</p>
                                <p>{{ info.corp }}</p>
                                <div>
                                {% for detail in info.details %}
                                <div><span class="list-dot"></span><span>{{ detail }}</span></div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No skills are available.</p>
                        {% endif %}
            </div>
        </div>
        <div>
            <p class="title-content">Education</p>
            <div>
                <div></div>
                
                    {% if education %}
                        {% for info in education %}
                        <div>
                            <div><p>{{ info.date_from }}</p><p>{{ info.date_to }}</p></div>
                            <div>
                                <p>{{ info.specification }}</p>
                                <p>{{ info.name }}</p>
                                <div>
                                {% for detail in info.details %}
                                <div><span class="list-dot"></span><span>{{ detail }}</span></div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No skills are available.</p>
                        {% endif %}
            </div>
        </div>
    </div>
</div>